
section.layout.horizontal_overflow .content {
    display: flex;
    height: auto;
    position: relative;
    
    .button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        background-color: rgba(0,0,0,0.075);
        transition: background-color 0.25s;
        text-align: center;
        vertical-align: middle;
        font-size: 0.6em;
        font-weight: 100;
        user-select: none;
        cursor: pointer;

        /*&.left {
            
        }
        
        &.right {
        
        }*/

        &.disabled {
            background-color: rgba(0,0,0,0.03);
            color: rgba(0,0,0,0.1);
            cursor: default;
        }

        &:hover:not(.disabled) {
            background-color: rgba(0,0,0,0.15);
        }
    }

    .elements {
        margin: 0 0.5em;
        display: grid;
        flex: 8;
        grid-template-columns: auto;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}