
section.layout {
    margin: 1em 0;

    .layout-title {
        width: 90%;
        padding-left: 10%;
        font-size: 2.5vmax;
        margin: 0;
    }

    .content {
        width: 100%;
        padding: 1.5em 0;
        margin: 0;
        font-size: 2vmax;
        color: #131313;
    }
}

@import './components';

@import './title';
@import './subtitle';
@import './main_title';
@import './rating_container';
@import './text_container';
@import './project_container';