
section.layout.main_title {
    padding: 40vh 0;
    margin: 0;
    height: 20vh;
    
    section.layout.title, section.layout.subtitle {
        padding: 0;
        margin: 0;
        height: 10vh;
        line-height: 10vh;
    }
}