
section.layout.main_title .content {
    padding: 40vh 0;
    margin: 0;
    height: 20vh;
    
    section.layout.title .content, section.layout.subtitle .content {
        padding: 0;
        margin: 0;
        height: 10vh;
        line-height: 10vh;
    }
}