$rating-height: 5em;

section.layout.horizontal_overflow .content {

    .elements {
        //grid-template-columns: repeat(auto-fit, minmax(110px, 330px));
        grid-template-rows: repeat(2, auto);
        // justify-content: center;
        grid-gap: 0.5em 4em;

        .rating {
            display: grid;
            text-align: center;
            height: 5em;
            width: 10em;
            font-size: 0.75em;
            height: $rating-height;
            grid-template-columns: 60% 40%;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
                "name         score_number"
                "score_points score_number";
            border-left: 3px solid #808080;

            .name {
                grid-area: name;
                line-height: $rating-height / 2;
                text-align: left;
                padding-left: 10%;
            }

            .score_points {
                grid-area: score_points;
                padding-left: 10%;

                .score {
                    width: 12%;
                    padding-bottom: 12%;
                    background: #303030;
                    border-radius: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0.15em;
                    
                    &.empty {
                        position: relative;

                        &:after {
                            position: absolute;
                            width: 60%;
                            height: 60%;
                            background: white;
                            border-radius: 100%;
                            display: inline-block;
                            top: 20%;
                            left: 20%;
                            content: ' ';
                        }
                    }
                }
            }

            .score_number {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                grid-area: score_number;

                span.out_of {
                    font-size: 2em;
                    font-weight: 800;
                    color: #303030;
                }

                span.separator {
                    font-size: 1.5em;
                    font-weight: 100;
                }

                span.total {
                    font-size: 1em;
                    font-weight: 100;
                }
                // background-color: red;
            }
        }
    }
}